.background {
    -fx-background-color: #3F858C;
}

.pane {
    -fx-background-color: #99CBD0;
    -fx-text-fill: white;
}


.label, .table-view .filler {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #08494F;
    -fx-font-weight: lighter;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #08494F;
    -fx-font-weight: bold;
}

.label-header {
    -fx-font-size: 18pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-font-weight : bolder;
}

.button {
    -fx-padding: 5 15 5 15;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #3F858C;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-font-weight: bolder;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}
.table-view {
    -fx-base: #3F858C;
    -fx-control-inner-background: #F1FBFC;
    -fx-background-color: #CAE8EB;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
    -fx-text-fill: #08494F;
}
.check-box .box {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

.check-box:selected .mark {
    -fx-background-color: -fx-colour-white;
}

.check-box:selected .box {
    -fx-background-color: -fx-blue;
}
.check-box {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}


.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}
.context-menu {
    -fx-background-color: #3F858C;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #3F858C;
}
